#SOLUÇÕES EM CIÊNCIA DE DADOS APLICADA 1
##Aluno: Ronalde Gonçalves da Silva Neto
##Prof: Thyago Maia

#ETAPA-3

In [36]:
# IMPORTANDO AS BIBLIOTECAS
import pandas as pd
import os
import glob

In [37]:
# LENDO MEU DATASET
dados = pd.read_csv('/content/ford.csv')

In [38]:
# VENDO AS LINHAS E COLUNAS DO MEU DATASET
dados.shape

(17966, 9)

In [39]:
# MUDANDO OS NOMES DAS COLUNAS 
dados.rename(columns={'model': 'Modelo', 'year': 'Ano', 'price': 'Preco', 'transmission': 'transmissao', 'mileage': 'KM_Rodado', 'fuelType': 'Tipo_combustivel',
'tax': 'Imposto', 'mpg': 'Autonomia', 'engineSize;;;;;': 'Motor'}, inplace = True)

In [40]:
dados1 = dados

In [41]:
# VENDO OS 5 PRIMEIROS DADOS
dados1.head(3)

,Modelo,Ano,Preco,transmissao,KM_Rodado,Tipo_combustivel,Imposto,Autonomia,Motor
0,Fiesta,2017,12000,1,15944,5,150,57.7,1;;;;;
1,Focus,2018,14000,2,9083,5,150,57.7,1;;;;;
2,Focus,2017,13000,2,12456,5,150,57.7,1;;;;;

In [42]:
# VERIFICANDO OS FORMATOS DAS COLUNAS
dados1.dtypes

Modelo               object
Ano                   int64
Preco                 int64
transmissao           int64
KM_Rodado             int64
Tipo_combustivel      int64
Imposto               int64
Autonomia           float64
Motor                object
dtype: object

In [43]:
# VERIFICAR OS CAMPOS NULOS 
# E SOMAR OS DADOS NULOS

dados1.isnull().sum()

Modelo              0
Ano                 0
Preco               0
transmissao         0
KM_Rodado           0
Tipo_combustivel    0
Imposto             0
Autonomia           0
Motor               0
dtype: int64

In [45]:
# ESCOLHENDO AS COLUNAS QUE VAI SER USADO NA REGRESSÃO LOGISTICA
base = dados1.loc[:,['Modelo', 'Ano', 'Preco', 'transmissao','Tipo_combustivel']]

In [46]:
# VERIFICANDO OS 5 PRIMEIROS RESULTADOS DAS COLUNAS SELECIONADOS
base.head()

    Modelo   Ano  Preco  transmissao  Tipo_combustivel
0   Fiesta  2017  12000            1                 5
1    Focus  2018  14000            2                 5
2    Focus  2017  13000            2                 5
3   Fiesta  2019  17500            2                 5
4   Fiesta  2019  16500            1                 5

In [47]:
# VERIFICANDO AS LINHAS E COLUNAS DAS COLUNAS ESCOLHIDAS
base.shape

(17966, 5)

In [48]:
# ANALISANDO OS DADOS DA COLUNA ('model')
base.groupby(['Modelo']).size()

Modelo
 B-MAX                     355
 C-MAX                     543
 EcoSport                 1143
 Edge                      208
 Escort                      1
 Fiesta                   6557
 Focus                    4588
 Fusion                     16
 Galaxy                    228
 Grand C-MAX               247
 Grand Tourneo Connect      59
 KA                        199
 Ka+                       531
 Kuga                     2225
 Mondeo                    526
 Mustang                    57
 Puma                       80
 Ranger                      1
 S-MAX                     296
 Streetka                    2
 Tourneo Connect            33
 Tourneo Custom             69
 Transit Tourneo             1
Focus                        1
dtype: int64

In [56]:
# TROCANDO OS VALORES DA COLUNA ('model') DE OBJECT PARA INT

base['Modelo'].replace({'Focus': 1, 'Fiesta': 2, 'Kuga': 3,'EcoSport': 4, 'Puma':5, 'C-MAX':6, 'B-MAX':7, 'Edge':8, 'Escort':9, 'Fusion':10, 'Galaxy':11, 'Grand C-MAX':12,
'Grand Tourneo Connect':13, 'KA':14, 'Ka+':15, 'Mondeo':16, 'Mustang':17, 'Ranger':18, 'S-MAX':19, 'Streetka':20, 'Tourneo Connect':21, 'Tourneo Custom':22, 'Transit Tourneo':23}, regex=True, inplace=True)

In [57]:
# ATRIBUINDO OS DADOS ATUALIZADOS PARA UMA NOVA VARIAVEL ('base1')
base1 = base

In [58]:
# VERIFICANDO A MUDANÇA NOS DADOS
base1.head()

   Modelo   Ano  Preco  transmissao  Tipo_combustivel
0       2  2017  12000            1                 5
1       1  2018  14000            2                 5
2       1  2017  13000            2                 5
3       2  2019  17500            2                 5
4       2  2019  16500            1                 5

In [59]:
base1.groupby(['Modelo']).size()

Modelo
1     4589
2     6557
3     2225
4     1143
5       80
6      790
7      355
8      208
9        1
10      16
11     228
13      59
14     199
15     531
16     526
17      57
18       1
19     296
20       2
21      33
22      69
23       1
dtype: int64