<a href="https://colab.research.google.com/github/Ronalde-web/google-colab/blob/main/UNIPE_XGBoost_Social_Network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Extreme Gradient Boosting Method (XGBoost)

Determinar se um cliente realizou a compra através de uma propaganda utilizando o método de Light Gradiente Boosting Method (GBM)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
dados = pd.read_csv('Social_Network_Ads.csv')

In [4]:
dados.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

Coluna User ID não é necessária para o modelo pois é apenas um identificador do usuário

In [5]:
dados.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [6]:
dados = dados.drop('User ID',axis=1)

In [7]:
dados.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

Convertendo a variável categórica Gender para numérica

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
enconder = LabelEncoder()

In [10]:
dados['Gender'] = enconder.fit_transform(dados['Gender'])

In [11]:
dados.head()

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000          0
1       1   35            20000          0
2       0   26            43000          0
3       0   27            57000          0
4       1   19            76000          0

Normalizando as colunas Age e Estimated Salary

In [12]:
cols = ['Age','EstimatedSalary']

In [13]:
from sklearn.preprocessing import StandardScaler

In [14]:
sc = StandardScaler()

In [15]:
dados[cols] = sc.fit_transform(dados[cols])

In [16]:
dados.head()

   Gender       Age  EstimatedSalary  Purchased
0       1 -1.781797        -1.490046          0
1       1 -0.253587        -1.460681          0
2       0 -1.113206        -0.785290          0
3       0 -1.017692        -0.374182          0
4       1 -1.781797         0.183751          0

Determinando as variáveis X e Y

In [17]:
X = dados.drop('Purchased',axis=1).values
Y = dados['Purchased'].values

Separando em amostra de treino e teste

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_treino,X_teste,Y_treino,Y_teste=train_test_split(X,Y,test_size=0.25,random_state=0)

Aplicando modelo XGBoost

In [20]:
import xgboost as xgb

In [21]:
modelo =xgb.XGBClassifier()

In [22]:
modelo.fit(X_treino,Y_treino)

XGBClassifier()

In [23]:
modelo.score(X_treino,Y_treino)

0.94

In [24]:
Y_previsto = modelo.predict(X_teste)

In [25]:
modelo.score(X_teste,Y_teste)

0.93

In [26]:
from sklearn.metrics import confusion_matrix

In [27]:
cm = confusion_matrix(Y_teste, Y_previsto)

In [28]:
cm

array([[64,  4],
       [ 3, 29]])